.quiz-title {
  text-align: center;
}

#scores-box {
  text-align: center;
  padding-top: 8%;
}

ol {
  list-style-type: none;
}

#score-list {
  background-color: antiquewhite;
  padding-bottom: 5%;
  margin-right: 40%;
  margin-left: 40%;
  text-align: left;
}

#score-list-item {
  list-style: none;
}

#go-back-btn {
  background-color: blue;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  text-decoration: none;
}

#clear-scores {
  background-color: blue;
  color: white;
  font-size: 25px;
  border-radius: 15px;
}
