* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

.quiz-title {
  justify-content: center;
  margin-left: 35%;
}
/* Timer */
.timer {
  padding-left: 35%;
  font-size: 15px;
}

#question {
  padding-top: 20%;
  padding-left: 14%;
  font-size: 27px;
  font-weight: bold;
}

.answers {
  padding-left: 30%;
  padding-top: 5%;
}

ul {
  list-style-type: none;
}

.btn-box {
  padding-top: 5%;
  padding-left: 43%;
}

#btn {
  background-color: blue;
  color: white;
  font-size: 50px;
  border-radius: 15px;
}
