* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

.quiz-title {
  justify-content: center;
  margin-left: 35%;
}
/* Timer */
.timer {
  padding-left: 42%;
  font-size: 15px;
}

#question {
  text-align: center;
  padding-top: 12%;
  font-size: 27px;
  font-weight: bold;
}

.answers {
  padding-left: 30%;
  padding-top: 5%;
}

ul {
  list-style-type: none;
}

.btn1,
.btn2,
.btn3 {
  padding-top: 5%;
}

#ans-btn1,
#ans-btn2,
#ans-btn3 {
  font-size: 30px;
  border-radius: 10px;
}

.btn-box {
 text-align: center;
}

#btn {
  background-color: blue;
  color: white;
  font-size: 50px;
  border-radius: 15px;
}

#correct-box {
  text-align: center;
  
}
